version: "3.8"

services:
  mysql8:
    image: mysql:8.4
    container_name: ${DB_CONTAINER_NAME:-mysql8}
    ports:
      - "${DB_PORT_MAPPING:-3306}:3306"  # 필요 없으면 이 줄 삭제
    environment:
      MYSQL_DATABASE: ${DB_NAME}
      MYSQL_USER: ${DB_USERNAME}
      MYSQL_PASSWORD: ${DB_PASSWORD}
      MYSQL_ROOT_PASSWORD: ${DB_ROOT_PASSWORD}
      TZ: ${TZ:-Asia/Seoul}
    volumes:
      - ./db/init:/docker-entrypoint-initdb.d
      - mysql-data:/var/lib/mysql

  redis:
    image: redis:latest
    container_name: ${REDIS_CONTAINER_NAME:-jobrecord-redis}
    ports:
      - "${REDIS_PORT:-6379}:6379"  # 내부에서만 쓸 거면 이 줄 삭제
    volumes:
      - redis-data:/data

volumes:
  mysql-data:
  redis-data:
